*{
  box-sizing: border-box;

  
}
body{
  font-family: 'Inter', sans-serif;
}
.flex-container{
  display:flex;
  background-color: #1B1937; 
  color: #FFFFFF;
  width: min-content;
 



  flex-direction: column;
}
.text{
  /*width: 400px;*/

  margin: auto;

 

  
 
}
.stats{
  display: flex;
 
 margin: 0;

}
.stat-line{
  margin: 55px;
  justify-content: space-between;
 align-items: center;



 

}
.purple{
  color: purple !important;

}
.purpleimg{



}
.wrap{
  display: flex;
  flex-direction: row;
 
 
 
}
.p{
  margin: 3rem;
 

}
.image{
  height: 100%;
}
h1{
  margin: 3rem;
}


@media screen and (max-width: 980px){
  .flex-container {
      /* border: 1px solid white; */
      height: 100%;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .wrap {
      display: flex;
      flex-direction: column;
      max-width: 78%;
      margin: 3% 0;
  }

  .stats {
      flex-wrap: wrap;
  }

  .stat-line {
      display: flex;
      flex-direction: column;
      margin: 1.6rem;
  }

  .text{
      order: 2;
      padding: 10%;
  }

  

  h1 {
      font-size: 3.4rem;
      margin-bottom: 3.0rem;
      line-height: 4.2rem;
      letter-spacing: 0.6px;
 }

 .subtitle {
  width: 100%;
  }

  .stat-line  {
      margin-top: 2.8rem;
  }

  .stat-title {
      font-size: 1.2rem;
  }

 

  

  .image{
      display: block;
      width: 100%;
      
  }


}